{% extends "layout.html" %}
{% block content %}
<div class="content-section">
        <h1>About Page</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Vero repellat minima dolore, repudiandae voluptas corporis nam a in ullam ipsam exercitationem sapiente excepturi! 
                 Quaerat dolore illo excepturi dolor culpa quasi provident sapiente nihil voluptatum neque, deleniti itaque esse quia, minima odio. 
                 Id nesciunt possimus tempore vel aliquam quae nulla explicabo accusantium rerum, necessitatibus voluptatibus porro sequi quia provident 
                 fuga quaerat at expedita magni eos a, magnam architecto laborum repellat rem! Temporibus labore minus unde laborum rem vitae fuga odit 
                 molestias! Libero quia illo aperiam fuga ut fugiat nihil. Laboriosam, porro! Neque reiciendis assumenda quas vitae rem eum tenetur et sed, laudantium 
                 iure repellendus quae optio ex corporis laboriosam illum voluptates maiores earum! Earum odit excepturi recusandae doloremque debitis ex ad, ipsum 
                 aperiam molestiae unde! Fuga itaque odio, perferendis qui sed magnam perspiciatis
                 expedita laboriosam quibusdam consequuntur nulla dolor sit sunt similique facere nostrum enim deserunt ullam, quidem error earum laudantium.
        </p>
</div>
{% endblock content %}
